
    <div id="firstpart">
        <div>
            <img src="https://zerodha.com/static/images/logo.svg" width="140">
            <pre style="font-size: 16px;">© 2010 - 2024, Zerodha Broking Ltd.
All rights reserved.</pre>
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/x-twitter.svg">
            <hr>
            <img src="https://zerodha.com/static/images/youtube.svg">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/whatsapp-logo.svg" width="20px">
            &nbsp;&nbsp;&nbsp;
            <img src="https://zerodha.com/static/images/youtube.svg">
        </div>
        <div id="foot">
            <h1 style="display: inline;">Company</h1>
            <h3>About</h3>
            <h3>Products</h3>
            <h3>Pricing</h3>
            <h3>Referral programme</h3>
            <h3>Careers</h3>
            <h3>Zerodha.tech</h3>
            <h3>Press & media</h3>
            <h3>Zerodha Cares (CSR)</h3>
        </div>
        <div id="foot">
            <h1 style="display: inline;">Support</h1>
            <h3>Contact us</h3>
            <h3>Support portal</h3>
            <h3>Z-Connect blog</h3>
            <h3>Referral programme</h3>
            <h3>List of charges</h3>
            <h3>Downloads & resources</h3>
            <h3>Videos</h3>
            <h3>Market overview</h3>
            <h3>How to file a complaint?</h3>
            <h3>Status of your complaints</h3>
        </div> 
        <div id="foot">
            <h1 style="display: inline;">Account</h1>
            <h3>Open an account</h3>
            <h3>Fund transfer</h3>
        </div>
    </div>


         



