<div class="firstsection">
    <img src="https://zerodha.com/static/images/landing.png" alt="" width="1000">
    <br>
    <br>
    <br>
    <h1 id="invest" style="font-size: 4rem;">Invest in everything</h1>
    <p id="para" style="font-size: 1.5rem;">Online platform to invest
        in stocks, derivatives, mutual funds, ETFs, bonds, and more.</p>
    <button id="button">Sign up for free</button>

</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="secondsection">
    <div>
        <h1 style="font-size: 2.3rem;">Trust with confidence</h1>
        <br>
        <h2 style="font-size: 1.6rem;">Customer-first always</h2>
        <p style="font-size: 1.3rem;">That's why 1.5+ crore customers trust Zerodha with 
          ₹4.5+ lakh crores of equity investments and contribute to
          5% of daily retail exchange volumes in India.</p>

        <br>
        

        <h2 style="font-size: 1.6rem;">No spam or gimmicks</h2>
        <p style="font-size: 1.3rem;">No gimmicks, spam, "gamification", or annoying push 
          . High quality apps that you use at 
          your pace, the way you like.</p>

       <br>
    

        <h2 style="font-size: 1.6rem;">The Zerodha universe</h2>
        <p style="font-size: 1.3rem;">Not just an app, but a whole ecosystem. Our investments 
          in 30+ fintech startups offer you tailored 
          specific to your needs.</p>

       <br>
       

        <h2 style="font-size: 1.6rem;">Do better with money</h2>
        <p style="font-size: 1.3rem;">With initiatives like Nudge and Kill Switch, we don't just 
          facilitate transactions, but actively help you do 
          better with your money.</p>
    </div>

    <img src="https://zerodha.com/static/images/ecosystem.png" width="600px">
</div>

<br>
<br>

<img id="news" src="https://zerodha.com/static/images/press-logos.png" >

<br>
<br>
<br>
<div class="thirdsection">
    <h1 style="font-size: 2.3rem;">Unbeatable pricing</h1>
    <div class="pricing">
        <p style="font-size: 18px;">We pioneered the concept of discount broking and price transparency in India. Flat fees and no hidden charges.</p>

        <div id="price">
            <img src="https://zerodha.com/static/images/pricing-eq.svg" width="100">
            <span>Free accountopening</span>
            <img src="https://zerodha.com/static/images/pricing-eq.svg" width="100">
            <span>Free equity delivery
            and direct mutual funds</span>
            
            
            <img src="https://zerodha.com/static/images/other-trades.svg" width="100">
            <span>Intraday and
                F&O</span>
            
        </div>
    </div>

    <a id="link" href="#">See Pricing ></a>
</div>

<br>
<br>


<div class="fourthsection">
    <div>
        <img src="https://zerodha.com/static/images/index-education.svg" width="700">
    </div>
   
      
    <div id="varsity">
        <h1 style="font-size: 2.4rem;">Free and open market education</h1>
      
        <p style="font-size: 1.3rem;">Varsity, the largest online stock market education book in the world covering everything from the basics to advanced trading.</p>
       
        <a style="font-size: 1.3rem;" href="#">Varsity-> </a>
       
        <p  style="font-size: 1.3rem;">TradingQ&A, the most active trading and investment community in India for all your market related queries.</p>
       
        <a  style="font-size: 1.3rem;" href="https://tradingqna.com/">TradingQ&A -></a>
    </div>


</div>
 


<br>
<br>
<br>
<br>
<br>



<div class="fifthsection">
    <h1 id="invest" style="font-size: 2.5rem;">Open a Zerodha account</h1>
    <p id="para"style="font-size: 1.5rem;">Modern platforms and apps, ₹0 investments, and flat ₹20 intraday and F&O trades.</p>
    <button id="button">Sign up for free</button>
    
</div>


<br>
<br>
<br>
<br>
<br>



<hr>